.Hero{
    width: 100%;
    height: calc(100vh - 30px);
    
    display: flex;
    flex-direction: column;
}

.Heroleft{
    flex: 2;
    display: flex;
    align-items: start;
    padding-left: 30px;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}



.HeroRight {
    background-color: var(--main-colour3);
    color: var(--main-colour1);
    /* border-radius: 10em; */
    font-size: 12px;
    font-weight: 600;
    padding: 0.5rem;
    width: 10rem;
    height: 2rem;
    /* padding: 1em 2em; */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--main-colour2);
    box-shadow: 0 0 0 0 var(--main-colour2);
    /* margin: 0rem 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    margin-bottom: 4rem;
    /* margin-bottom: 30px; */
    /* margin: auto; */
  }
  
  .HeroRight:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 var(--main-colour2);
  };
  
  .HeroRight:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 var(--main-colour4);
  };

.HeroRightImg{
    width: calc(100% - 20px);
    object-fit: cover;
    /* filter: grayscale(1); */
    border-radius: 10px;
}

.HeroLeft1{
    text-transform: capitalize;
    padding-left: 10px;
    margin: 0px ;
    font-size: 12px;
    overflow: hidden;
    margin-bottom: 10px;
}

.HeroLeft2{
    font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15rem;
  /* height: 100px;
  width: 200px; */
  padding: 0px;
    margin: 0px;
    /* background-color: red; */
    letter-spacing: 0;
  line-height: 0.8;
  word-spacing: normal;
  overflow: hidden;
}

.HeroLeft3{
    font-size: 12px;
    padding-left: 10px;
    overflow: hidden;
}