body {
  margin: 0;
  /* overflow-x: hidden; */
}

.horizontal-container {
  display: flex;
  width: 400vw; /* 4 panels */
  height: 100vh;
}

.panel {
  flex: 0 0 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background: #ccc;
  border-right: 2px solid #333;
}
