.Works{
    width: calc(100vw - 8px);
    /* background-color: red; */
    /* overflow: hidden; */
    padding: 10rem 0;
    overflow-x: hidden;
}

.Worksheading{
    /* font-size: 35rem; */
    font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  /* flex-wrap: nowrap; */
}

.images{
  height: 100vh;
}

.sliderList{
  display: flex;
  /* flex-wrap: wrap; */
  /* width: 100vw; */
}

.item{
  width: 100%;
  display: flex;
  justify-content: space-between;

  border-top: 1px solid gray;
}

.item:hover{
  /* background-color: var(--main-colour1); */
  background-color: #ccccbf;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.ItemLeft{
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
    margin: 3rem;
}

.itemImg{
  flex: 1.5;
  height: 50vh;
  width: 100%;
  object-fit: cover;
    margin: 3rem;
}

.sliderList{
  display: flex;
  flex-direction: column;
}


.item:last-child{
  margin-bottom: 30px;
}

.itemTitle{
  font-size: 3rem;
  font-weight: 400;
  font-family: "Staatliches", sans-serif;

}

.itemDesc{
  font-size: 12px;
  font-weight: 400;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #333; 
  margin-top: 0.5rem;

}

.viewAllBtn {
    background-color: var(--main-colour3);
    color: var(--main-colour1);
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 0.5rem;
    width: 10rem;
    height: 2rem;
    /* padding: 1em 2em; */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--main-colour2);
    box-shadow: 0 0 0 0 var(--main-colour2);
    margin: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-top: 30px;
    /* margin-bottom: 30px; */
    margin: auto;
  }
  
  .viewAllBtn:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 var(--main-colour2);
  };
  
  .viewAllBtn:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 var(--main-colour4);
  };